*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
img{
  height:100px;
  margin-top: -20vh;
  padding: 20px;
}
